{
  "printWidth": 120,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "app/react-app/**/*.js"
    }
  ],
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
}
